* {
  margin: 0;
}
.App {
  background-color: #fafafa;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.header__img {
  object-fit: contain;
  margin-left: 10px;
}
.form__signup {
  display: flex;
  flex-direction: column;
}
.form__input {
  margin-bottom: 10px;
}
.posts_container {
  display: flex;
}
.logout__container {
  display: flex;
  margin-right: 10px;
}
.avatar {
  margin-right: 5px;
}
